@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Title.</h3>

<p class="text-info">This line is in Views/About.cshtml</p>

<div class="body-content">
    @Html.Raw(@ViewBag.MyData)
</div>

<p class="text-info">This line is in Views/About.cshtml</p>
