@model LL_Lab6.ViewModels.VM_Error

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error</h2>


<dl class="dl-horizontal">
    @foreach (var item in Model.ErrorMessages)
    {
        <dt>
            @item.Key
        </dt>
        <dd>
            @item.Value
        </dd>
    }

</dl>